/src/.vs/Sudoku/DesignTimeBuild/*.dtbcache
/src/.vs/Sudoku/DesignTimeBuild/*.v2
/src/.vs/Sudoku/v16/*.suo
/src/.vs/Sudoku/v16/Server/sqlite3/*.lock
/src/.vs/Sudoku/v16/Server/sqlite3/*.ide
/src/Solver/bin/Debug/netstandard2.0/*.json
/src/Solver/bin/Debug/netstandard2.0/*.dll
/src/Solver/bin/Debug/netstandard2.0/*.pdb
/src/Solver/obj/Debug/netstandard2.0/*.fs
/src/Solver/obj/Debug/netstandard2.0/*.cache
/src/Solver/obj/Debug/netstandard2.0/*.dll
/src/Solver/obj/Debug/netstandard2.0/*.txt
/src/Solver/obj/Debug/netstandard2.0/*.pdb
/src/Solver/obj/*.cache
/src/Solver/obj/*.json
/src/Solver/obj/*.props
/src/Solver/obj/*.targets
/src/Sudoku/bin/Debug/*.dll
/src/Sudoku/bin/Debug/*.xml
/src/Sudoku/bin/Debug/*.pdb
/src/Sudoku/bin/Debug/*.exe
/src/Sudoku/bin/Debug/*.config
/src/Sudoku/bin/Debug/cs/*.dll
/src/Sudoku/bin/Debug/de/*.dll
/src/Sudoku/bin/Debug/es/*.dll
/src/Sudoku/bin/Debug/fr/*.dll
/src/Sudoku/bin/Debug/it/*.dll
/src/Sudoku/bin/Debug/ja/*.dll
/src/Sudoku/bin/Debug/ko/*.dll
/src/Sudoku/bin/Debug/pl/*.dll
/src/Sudoku/bin/Debug/pt-BR/*.dll
/src/Sudoku/bin/Debug/ru/*.dll
/src/Sudoku/bin/Debug/tr/*.dll
/src/Sudoku/bin/Debug/zh-Hans/*.dll
/src/Sudoku/bin/Debug/zh-Hant/*.dll
/src/Sudoku/obj/Debug/*.cache
/src/Sudoku/obj/Debug/*.resources
/src/Sudoku/obj/Debug/*.CopyComplete
/src/Sudoku/obj/Debug/*.txt
/src/Sudoku/obj/Debug/*.exe
/src/Sudoku/obj/Debug/*.pdb
/src/packages/FSharp.Core.4.7.0/*.p7s
/src/packages/FSharp.Core.4.7.0/*.nupkg
/src/packages/FSharp.Core.4.7.0/lib/net45/*.dll
/src/packages/FSharp.Core.4.7.0/lib/net45/*.optdata
/src/packages/FSharp.Core.4.7.0/lib/net45/*.sigdata
/src/packages/FSharp.Core.4.7.0/lib/net45/*.xml
/src/packages/FSharp.Core.4.7.0/lib/net45/cs/*.dll
/src/packages/FSharp.Core.4.7.0/lib/net45/de/*.dll
/src/packages/FSharp.Core.4.7.0/lib/net45/es/*.dll
/src/packages/FSharp.Core.4.7.0/lib/net45/fr/*.dll
/src/packages/FSharp.Core.4.7.0/lib/net45/it/*.dll
/src/packages/FSharp.Core.4.7.0/lib/net45/ja/*.dll
/src/packages/FSharp.Core.4.7.0/lib/net45/ko/*.dll
/src/packages/FSharp.Core.4.7.0/lib/net45/pl/*.dll
/src/packages/FSharp.Core.4.7.0/lib/net45/pt-BR/*.dll
/src/packages/FSharp.Core.4.7.0/lib/net45/ru/*.dll
/src/packages/FSharp.Core.4.7.0/lib/net45/tr/*.dll
/src/packages/FSharp.Core.4.7.0/lib/net45/zh-Hans/*.dll
/src/packages/FSharp.Core.4.7.0/lib/net45/zh-Hant/*.dll
/src/packages/FSharp.Core.4.7.0/lib/netstandard2.0/*.dll
/src/packages/FSharp.Core.4.7.0/lib/netstandard2.0/*.optdata
/src/packages/FSharp.Core.4.7.0/lib/netstandard2.0/*.sigdata
/src/packages/FSharp.Core.4.7.0/lib/netstandard2.0/*.xml
/src/packages/FSharp.Core.4.7.0/lib/netstandard2.0/cs/*.dll
/src/packages/FSharp.Core.4.7.0/lib/netstandard2.0/de/*.dll
/src/packages/FSharp.Core.4.7.0/lib/netstandard2.0/es/*.dll
/src/packages/FSharp.Core.4.7.0/lib/netstandard2.0/fr/*.dll
/src/packages/FSharp.Core.4.7.0/lib/netstandard2.0/it/*.dll
/src/packages/FSharp.Core.4.7.0/lib/netstandard2.0/ja/*.dll
/src/packages/FSharp.Core.4.7.0/lib/netstandard2.0/ko/*.dll
/src/packages/FSharp.Core.4.7.0/lib/netstandard2.0/pl/*.dll
/src/packages/FSharp.Core.4.7.0/lib/netstandard2.0/pt-BR/*.dll
/src/packages/FSharp.Core.4.7.0/lib/netstandard2.0/ru/*.dll
/src/packages/FSharp.Core.4.7.0/lib/netstandard2.0/tr/*.dll
/src/packages/FSharp.Core.4.7.0/lib/netstandard2.0/zh-Hans/*.dll
/src/packages/FSharp.Core.4.7.0/lib/netstandard2.0/zh-Hant/*.dll
